.topheader {
  background-color: #174c80;
}
.navbar {
  background-color: #174c80;
}
.navbar-item {
  color: #fff;
}
.results--section {
  padding: 20px 0px;
  margin-top: 40px;
}
h1 {
  text-align: center;
  font-size: 30px;
}

.hero.bg-diode .hero-body .title {
  color: #fff;
}

.error-overlay {
  position: absolute;
  background: rgba(6, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  height: 100%;
  z-index: 200;
  overflow: hidden;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
